<div class="columns">

    <div class="column is-3">
        <div class="card">
            <div class="field">
                <figure class="image is-96x96 has-image-centered">
                    <img class="is-rounded" [changed]="changed" profile-image />
                </figure>
            </div>
            <div class="card-content">

                <div class="media">
                    <div class="media-content has-text-centered">
                        <a routerLink="/settings" class="title is-4">{{authService.fullName}}</a>
                    </div>
                </div>

                <div class="content  has-text-centered" *ngIf="experiance.Title != undefined">
                    <h6 class="subtitle is-6  is-size-7">{{experiance.Title}} at {{experiance.Company}}</h6>
                </div>

                <div class="content  has-text-centered">
                    <a routerLink="/network">My Network</a>
                </div>

            </div>
            <footer class="card-footer">
                <p class="card-footer-item">Connections 100</p>
            </footer>
        </div>
    </div>

    <div class="column">

        <div class="card">

            <div class="card-content">
                <div class="field">
                    <label class="label">
                        <div class="columns">
                            <div class="column is-narrow">
                                <div class="field">
                                    <figure class="image is-32x32">
                                        <img class="is-rounded" [changed]="changed" profile-image />
                                    </figure>
                                </div>
                            </div>
                            <div class="column">
                                <p>{{authService.fullName}}</p>
                                <p *ngIf="experiance.Title != undefined" class="subtitle is-6 is-size-7">{{experiance.Title}}
                                    at {{experiance.Company}}</p>
                            </div>
                        </div>
                    </label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Share an article, photo, video or idea"></textarea>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <div class="card-footer-item">
                    <div class="columns">
                        <div class="column is-11">
                            <div class="buttons">
                                <button class="button is-rounded">
                                    <fa-icon icon="edit"></fa-icon> &nbsp; Write an article
                                </button>
                                <button class="button is-rounded">
                                    <fa-icon icon="image"></fa-icon> &nbsp; Images
                                </button>
                                <button class="button is-rounded">
                                    <fa-icon icon="video"></fa-icon> &nbsp; Video
                                </button>
                            </div>
                        </div>
                        <div class="column">
                            <button class="button is-primary">Post</button>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <br>

        <div *ngFor="let post of posts">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-48x48">
                        <img class="is-rounded" [changed]="changed" profile-image />
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>
                                {{post.User.FirstName + " " + post.User.LastName}}
                                <p *ngIf="experiance.Title != undefined" class="subtitle is-6 is-size-7">{{post.User.CurrentState}}</p>
                            </strong>
                            <br>
                            {{post.Title}}
                            <br>
                            <small><a>{{posts.length}} Likes</a> · <a>Reply</a></small>
                            <br>
                            <small><a>Like</a> · <a>Reply</a></small>
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                <figure class="media-left">
                    <p class="image is-32x32">
                        <img class="is-rounded" [changed]="changed" profile-image />
                    </p>
                </figure>
                <div class="media-content">
                    <div class="field">
                        <p class="control">
                            <textarea class="textarea" rows="1" placeholder="Add a comment..."></textarea>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button">Post comment</button>
                        </p>
                    </div>
                </div>
            </article>
            <br>
            <br>
        </div>
        <!-- <div class="card" *ngFor="let post of posts">

            <div class="card-content">
                <div class="field">
                    <label class="label">
                        <div class="columns">
                            <div class="column is-narrow">
                                <div class="field">
                                    <figure class="image is-32x32">
                                        <img class="is-rounded" [changed]="changed" profile-image />
                                    </figure>
                                </div>
                            </div>
                            <div class="column">
                                <p>{{post.User.FirstName + " " + post.User.LastName}}</p>
                                <p *ngIf="experiance.Title != undefined" class="subtitle is-6 is-size-7">{{post.User.CurrentState}}</p>
                            </div>
                        </div>
                    </label>
                    <div class="control" *ngIf="post.Type == 3">
                        <p>{{post.Title}}</p>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <div>
                    <div class="columns">
                        <div class="column">
                            <a>
                                <fa-icon icon="edit"></fa-icon> Write an article
                            </a>
                        </div>
                        <div class="column">
                            <a>
                                <fa-icon icon="image"></fa-icon> Images
                            </a>
                        </div>
                        <div class="column">
                            <a>
                                <fa-icon icon="video"></fa-icon> Video
                            </a>
                        </div>
                    </div>
                </div>

            </footer>
            <hr>
        </div> -->



    </div>
</div>