<div class="columns">

    <div class="column is-3">
        <div class="card">
            <div class="field">
                <figure class="image is-96x96 has-image-centered">
                    <img class="is-rounded" [changed]="changed" profile-image />
                </figure>
            </div>
            <div class="card-content">

                <div class="media">
                    <div class="media-content has-text-centered">
                        <a routerLink="/settings" class="title is-4">{{authService.fullName}}</a>
                    </div>
                </div>

                <div class="content  has-text-centered" *ngIf="experiance.Title != undefined">
                    <h6 class="subtitle is-6  is-size-7">{{experiance.Title}} at {{experiance.Company}}</h6>
                </div>

                <div class="content  has-text-centered">
                    <a routerLink="/network">My Network</a>
                </div>

            </div>
            <footer class="card-footer">
                <p class="card-footer-item">Connections 100</p>
            </footer>
        </div>
    </div>

    <div class="column">

        <div class="card">

            <div class="card-content">
                <div class="field">
                    <label class="label">
                        <div class="columns">
                            <div class="column is-narrow">
                                <div class="field">
                                    <figure class="image is-32x32">
                                        <img class="is-rounded" [changed]="changed" profile-image />
                                    </figure>
                                </div>
                            </div>
                            <div class="column">
                                <p>{{authService.fullName}}</p>
                                <p *ngIf="experiance.Title != undefined" class="subtitle is-6 is-size-7">{{experiance.Title}}
                                    at {{experiance.Company}}</p>
                            </div>
                        </div>
                    </label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Share an article, photo, video or idea"></textarea>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
                <div class="card-footer-item">
                    <div class="columns">
                        <div class="column is-11">
                            <div class="buttons">
                                <button class="button is-rounded">
                                    <fa-icon icon="edit"></fa-icon> &nbsp; Write an article
                                </button>
                                <button class="button is-rounded">
                                    <fa-icon icon="image"></fa-icon> &nbsp; Images
                                </button>
                                <button class="button is-rounded">
                                    <fa-icon icon="video"></fa-icon> &nbsp; Video
                                </button>
                            </div>
                        </div>
                        <div class="column">
                            <button class="button is-primary">Post</button>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

    </div>
</div>