<div class="columns">
  <div class="column is-3">
    <div class="field">
      <figure class="image is-128x128 has-image-centered">
        <img class="is-rounded" [id]="userId" profile-image />
      </figure>
    </div>
  </div>

  <div class="column">
    <div class="field">

      <label class="label">Id</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" [(ngModel)]="user.Id" placeholder="Id" disabled>
        <span class="icon is-small is-left">
          <fa-icon icon="id-card"></fa-icon>
        </span>
      </div>

    </div>
    <div class="field">

      <label class="label">First Name</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" [(ngModel)]="user.FirstName" placeholder="First Name" disabled>
        <span class="icon is-small is-left">
          <fa-icon icon="user"></fa-icon>
        </span>
      </div>

    </div>
    <div class="field">

      <label class="label">Last Name</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" [(ngModel)]="user.LastName" type="text" placeholder="Last Name" disabled>
        <span class="icon is-small is-left">
          <fa-icon icon="user"></fa-icon>
        </span>
      </div>

    </div>
    <div class="field">

      <label class="label">Phone Number</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" [(ngModel)]="user.PhoneNumber" type="text" placeholder="Phone Number" disabled>
        <span class="icon is-small is-left">
          <fa-icon icon="phone"></fa-icon>
        </span>
      </div>

    </div>
    <div class="field">

      <label class="label">E-mail</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" [(ngModel)]="user.Email" type="text" placeholder="E-mail" disabled>
        <span class="icon is-small is-left">
          <fa-icon icon="envelope"></fa-icon>
        </span>
      </div>

    </div>
    <div class="field">

      <label class="label">Role</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" [(ngModel)]="user.Role" type="text" placeholder="Role" disabled>
        <span class="icon is-small is-left">
          <fa-icon icon="lock"></fa-icon>
        </span>
      </div>

    </div>
  </div>

</div>