<div class="columns" (keypress)="onSubmit($event)">
  <div class="column">
    <div class="control">
      <input [(ngModel)]="searchString" class="input" type="text" placeholder="Find a connection">
    </div>
  </div>
  <div class="column">
    <div class="control">
      <a class="button is-primary" (click)="search()">
        Search
      </a>
    </div>
  </div>
</div>

<p class="title is-4 has-text-centered" *ngIf="searchFriends != undefined">
  {{found}} Found
</p>

<div class="tile is-ancestor" *ngIf="searchFriends != undefined">
  <div class="tile is-vertical">
    <div class="tile is-parent" *ngFor="let friendArray of searchFriends">
      <div class="tile is-parent" *ngFor="let friend of friendArray">
        <article class="tile is-child notification">
          <br>
          <figure class="image is-128x128  has-image-centered">
            <img class="is-rounded" [id]="friend.Id" [changed]="changed" profile-image />
          </figure>
          <span class="has-text-centered">
            <span (click)="navigateToView(friend.Id)" class="pointer">
              <h1 class="title is-3">{{friend.FirstName + " " + friend.LastName}}</h1>
              <h1 class="subtitle is-4">{{friend.CurrentState}}</h1>
            </span>
            <br>
            <div class="buttons is-centered">
              <button (click)="addFriend(friend)" class="button is-primary" *ngIf="!friend.IsFriend">
                Connect
              </button>
            </div>
          </span>
        </article>
      </div>
    </div>
  </div>
</div>

<hr>

<p class="title is-4 has-text-centered" *ngIf="pending != 0">
  {{pending}} Pending
</p>

<div class="tile is-ancestor" *ngIf="pending != 0">
  <div class="tile is-vertical">
    <div class="tile is-parent" *ngFor="let friendArray of pendingFriends">
      <div class="tile is-parent" *ngFor="let friend of friendArray">
        <article class="tile is-child notification">
          <br>
          <figure class="image is-128x128  has-image-centered">
            <img class="is-rounded" [id]="friend.Id" [changed]="changed" profile-image />
          </figure>
          <span class="has-text-centered">
            <span class="pointer" (click)="navigateToView(friend.Id)">
              <h1 class="title is-3">{{friend.FirstName + " " + friend.LastName}}</h1>
              <h1 class="subtitle is-4">{{friend.CurrentState}}</h1>
            </span>
            <br>
            <div class="buttons is-centered">
              <button (click)="acceptFriend(friend)" class="button is-primary">
                Accept
              </button>
              <button (click)="rejectFriend(friend)" class="button is-danger">
                Reject
              </button>
            </div>
          </span>
        </article>
      </div>
    </div>
  </div>
</div>

<hr *ngIf="pending != 0">

<p class="title is-4 has-text-centered">
  {{all}} All Connections
</p>

<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <div class="tile is-parent" *ngFor="let friendArray of allFriends">
      <div class="tile is-parent" *ngFor="let friend of friendArray">
        <article class="tile is-child notification">
          <br>
          <figure class="image is-128x128  has-image-centered">
            <img class="is-rounded" [id]="friend.Id" [changed]="changed" profile-image />
          </figure>
          <span class="has-text-centered pointer" (click)="navigateToView(friend.Id)">
            <h1 class="title is-3">{{friend.FirstName + " " + friend.LastName}}</h1>
            <h1 class="subtitle is-4">{{friend.CurrentState}}</h1>
            <div class="buttons is-centered">
            </div>
          </span>
        </article>
      </div>
    </div>
  </div>
</div>