<!-- <div class="tile is-ancestor" *ngIf="searchFriends != undefined">
    <div class="tile is-vertical">
      <div class="tile is-parent" *ngFor="let friendArray of searchFriends">
        <div class="tile is-parent" *ngFor="let friend of friendArray">
          <article class="tile is-child notification">
            <br>
            <figure class="image is-128x128  has-image-centered">
              <img class="is-rounded" [id]="friend.Id" [changed]="changed" profile-image />
            </figure>
            <span class="has-text-centered">
              <span (click)="navigateToView(friend.Id)" class="pointer">
                <h1 class="title is-3">{{friend.FirstName + " " + friend.LastName}}</h1>
                <h1 class="subtitle is-4">{{friend.CurrentState}}</h1>
              </span>
              <br>
              <div class="buttons is-centered">
                <button (click)="addFriend(friend)" class="button is-primary" *ngIf="!friend.IsFriend">
                  Connect
                </button>
              </div>
            </span>
          </article>
        </div>
      </div>
    </div>
  </div> -->