<h1 class="title is-4 has-text-centered">Notifications</h1>

<div *ngFor="let notification of notifications">

  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img class="is-rounded" [id]="notification.SenderId" [changed]="changed" profile-image />
          </figure>
        </div>
        <div class="media-content">
          <a routerLink="/userinfo" class="title is-4">{{notification.Sender}}</a>
          <p class="tittle is-2">το νοτιφικασιο</p>
          <br>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>
    </div>
  </div>

  <br>

</div>