.half-background {
    background-image: url("../../assets//bg.jpg");
    background-size:cover;
    z-index:1;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        background-color:white;
        z-index:2;
      }
}

.image-border{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}