<div class="card">
  <header class="card-header title-max-height" style="background-color:#2780e3;">
    <p class="card-header-title title is-4 title-padding has-text-white">
      Experience
    </p>
    <a class="link-padding has-text-white" (click)="openExperienceModal(null)"><fa-icon icon="plus" size="lg"></fa-icon></a>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="card" *ngFor="let experience of experiences">
        <header class="card-header title-max-height">
          <p class="card-header-title title is-6 title-padding">
            {{experience.Title}}
          </p>
          <a class="link-padding" (click)="openExperienceModal(experience)"><fa-icon icon="pencil-alt" size="lg"></fa-icon></a>
        </header>
        <div class="card-content">
          <div class="columns">
            <div class="column">
              <div class="content">
                <p>
                  {{experience.Description}}
                </p>
                <p>
                  {{experience.Company}}
                </p>
                <p>
                  {{experience.StartDate | date:'MMMM , y' }} - <span *ngIf="!experience.StillThere">{{experience.EndDate
                    | date:'MMMM , y' : ""}}</span>
                  <span *ngIf="experience.StillThere">Now</span>
                </p>
                <p>
                  {{experience.Link}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

<br>

<div class="card">
  <header class="card-header title-max-height" style="background-color:#2780e3;">
    <p class="card-header-title title is-4 title-padding has-text-white">
      Education
    </p>
    <a class="link-padding has-text-white" (click)="openEducationModalModal(null) "><fa-icon icon="plus" size="lg"></fa-icon></a>
  </header>
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <div class="content">
          <div class="card" *ngFor="let education of educations">
            <header class="card-header title-max-height">
              <p class="card-header-title title is-6 title-padding">
                {{education.Title}}
              </p>
              <a class="link-padding" (click)="openEducationModalModal(education) "><fa-icon icon="pencil-alt" size="lg"></fa-icon></a>
            </header>
            <div class="card-content">
              <div class="columns">
                <div class="column">
                  <div class="content">
                    <p>
                      {{education.Description}}
                    </p>
                    <p>
                      {{education.Degree}} in {{education.Field}}
                    </p>
                    <p>
                      {{education.StartDate | date:'MMMM , y' }} - <span *ngIf="!education.StillThere">{{education.EndDate
                        | date:'MMMM , y' : ""}}</span>
                      <span *ngIf="education.StillThere">Now</span>
                    </p>
                    <p>
                      {{education.Link}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="card">
  <header class="card-header title-max-height" style="background-color:#2780e3;">
    <p class="card-header-title title is-4 title-padding has-text-white">
      Skills
    </p>
    <a class="link-padding has-text-white" (click)="openPersonalSkillsModal(null)"><fa-icon icon="plus" size="lg"></fa-icon></a>
  </header>
  <div class="card-content">
    <div class="content">
      <div class="card" *ngFor="let personalSkill of personalSkills">
        <header class="card-header title-max-height">
          <p class="card-header-title title is-6 title-padding">
            {{personalSkill.Title}}
          </p>
          <a class="link-padding" (click)="openPersonalSkillsModal(personalSkill) "><fa-icon icon="pencil-alt" size="lg"></fa-icon></a>
        </header>
        <div class="card-content">
          <div class="columns">
            <div class="column">
              <div class="content">
                <p>
                  {{personalSkill.Description}}
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngClass]="{'is-active': experienceModalState != 'closed'}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Experience</p>
      <button class="delete" aria-label="close" (click)="experienceModalState = 'closed'"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="columns">
        <div class="column">

          <div class="field">
            <label class="label">Company</label>
            <div class="control">
              <input [(ngModel)]="experience.Company" class="input" type="text" placeholder="Company Name">
            </div>
          </div>

          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input [(ngModel)]="experience.Title" class="input" type="text" placeholder="Your Title In This Job">
            </div>
          </div>

          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea [(ngModel)]="experience.Description" class="textarea" type="text" placeholder="Describe The Job"></textarea>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Start Date</label>
                <date-picker [(date)]="experience.StartDate"></date-picker>
              </div>
            </div>
            <div class="column">
              <div *ngIf="!experience.StillThere" class="field">
                <label class="label">End Date</label>
                <date-picker [(date)]="experience.EndDate"></date-picker>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <br>
                <br>
                <input (change)="experience.StillThere = !experience.StillThere" id="switchColorDefault1" [checked]="experience.StillThere"
                  type="checkbox" name="switchColorDefault1" class="switch">
                <label for="switchColorDefault1">Still Working There</label>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Link</label>
            <div class="control">
              <input [(ngModel)]="experience.Link" class="input" type="text" placeholder="Describe the job">
            </div>
          </div>

          <div class="field">
            <div class="field">
              <input (change)="experience.IsPublic = !experience.IsPublic" [checked]="experience.IsPublic" id="switchColorDefault2" type="checkbox"
                name="switchColorDefault2" class="switch">
              <label for="switchColorDefault2">Is For Public View</label>
            </div>
          </div>

        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="saveExperience()"><fa-icon icon="save"></fa-icon> &nbsp; Save changes
      </button>
      <button class="button is-warning" (click)="experienceModalState = 'closed'"><fa-icon icon="undo-alt"></fa-icon> &nbsp;Cancel</button>
      <button class="button is-danger is-pulled-right" (click)="deleteSkill(experience.Id,'experience')"><fa-icon icon="trash-alt"></fa-icon>
        &nbsp; Delete</button>
    </footer>
  </div>
</div>

<div class="modal" [ngClass]="{'is-active': educationModalState != 'closed'}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Education</p>
      <button class="delete" aria-label="close" (click)="educationModalState = 'closed'"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="columns">
        <div class="column">

          <div class="field">
            <label class="label">Degree</label>
            <div class="control">
              <input [(ngModel)]="education.Degree" class="input" type="text" placeholder="Degree">
            </div>
          </div>

          <div class="field">
            <label class="label">Feild</label>
            <div class="control">
              <input [(ngModel)]="education.Field" class="input" type="text" placeholder="Feild">
            </div>
          </div>

          <div class="field">
            <label class="label">Grade</label>
            <div class="control">
              <input [(ngModel)]="education.Grade" class="input" type="number" placeholder="Grade">
            </div>
          </div>

          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input [(ngModel)]="education.Title" class="input" type="text" placeholder="Title">
            </div>
          </div>

          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea [(ngModel)]="education.Description" class="textarea" type="text" placeholder="Description"></textarea>
            </div>
          </div>

          <div class="columns"> 
            <div class="column">
              <div class="field">
                <label class="label">Start Date</label>
                <date-picker [(date)]="education.StartDate"></date-picker>
              </div>
            </div>
            <div class="column">
              <div *ngIf="!education.StillThere" class="field">
                <label class="label">End Date</label>
                <date-picker [(date)]="education.EndDate"></date-picker>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <br>
                <br>
                <input (change)="education.StillThere = !education.StillThere" id="switchColorDefault3" [checked]="education.StillThere"
                  type="checkbox" name="switchColorDefault3" class="switch">
                <label for="switchColorDefault3">Still There</label>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Link</label>
            <div class="control">
              <input [(ngModel)]="education.Link" class="input" type="text" placeholder="Describe the job">
            </div>
          </div>

          <div class="field">
            <div class="field">
              <input (change)="education.IsPublic = !education.IsPublic" [checked]="education.IsPublic" id="switchColorDefault4" type="checkbox"
                name="switchColorDefault4" class="switch">
              <label for="switchColorDefault4">Is For Public View</label>
            </div>
          </div>

        </div>
      </div>

    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="saveEducations()"><fa-icon icon="save"></fa-icon> &nbsp; Save changes</button>
      <button class="button is-warning" (click)="educationModalState = 'closed'"><fa-icon icon="undo-alt"></fa-icon> &nbsp;Cancel</button>
      <button class="button is-danger is-pulled-right" (click)="deleteSkill(education.Id,'education')"><fa-icon icon="trash-alt"></fa-icon>
        &nbsp;Delete</button>
    </footer>
  </div>
</div>

<div class="modal" [ngClass]="{'is-active': personalSkillsModalState != 'closed'}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Skill</p>
      <button class="delete" aria-label="close" (click)="personalSkillsModalState = 'closed'"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="columns">
        <div class="column">

          <div class="field">
            <label class="label">Title</label>
            <div class="control">
              <input [(ngModel)]="personalSkill.Title" class="input" type="text" placeholder="Title of skill">
            </div>
          </div>

          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <textarea [(ngModel)]="personalSkill.Description" class="textarea" type="text" placeholder="Describe it"></textarea>
            </div>
          </div>

          <div class="field">
            <div class="field">
              <input (change)="personalSkill.IsPublic = !personalSkill.IsPublic" [checked]="personalSkill.IsPublic" id="switchColorDefault5"
                type="checkbox" name="switchColorDefault5" class="switch">
              <label for="switchColorDefault5">Is For Public View</label>
            </div>
          </div>

        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="savePersonalSkills()"><fa-icon icon="save"></fa-icon> &nbsp; Save changes</button>
      <button class="button is-warning" (click)="personalSkillsModalState = 'closed'"><fa-icon icon="undo-alt"></fa-icon>
        &nbsp;Cancel</button>
      <button class="button is-danger is-pulled-right" (click)="deleteSkill(personalSkill.Id,'personalSkill')"><fa-icon icon="trash-alt"></fa-icon>
        &nbsp;Delete</button>
    </footer>
  </div>
</div>